body {
    font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #020b3e;
        background-size: cover;
}

section {
        margin: 20px;
        padding: 20px;
        border: 11px solid #003366;
        border-radius: 10px;
        background-color: #069BE7; /* Fondo con efecto de difuminado */
        max-height: 100px;
        overflow-y: auto;
}

label {
    display: block;
    margin: 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:lightblack;
}
select {
    padding: 5px;
    width: 30%; /* Hacemos que el select ocupe todo el ancho de la sección */
    text-align: center; /* Centramos el texto de la opción seleccionada */
    background-color: #069BE7(168, 75, 75, 0.651)
}

option:checked {
    background-color: #069BE7; /* Cambiamos el color de fondo de la opción seleccionada */
}

button {
    padding: 10px 1%;
    margin: 5px;
    background-color: #020B3E;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#sumarBoton,
#refreshBoton {
    transition: background-color 0.3s ease; /* Configuración de la transición */
}

#sumarBoton:hover,
#refreshBoton:hover {
    background-color: #142B94; /* Color que se aplicará cuando el cursor esté sobre el botón */
}

p#resultado {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color:#000;
}

header {
    background-color: #069BE7;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

header a:hover {
    color: #003366; /* Cambia el color al pasar el mouse */
}

.contenedor {
    text-align: center;
    margin-top: 40px; /* Margen superior */
    margin-right: 40px; /* Margen derecho */
    margin-bottom: 40px; /* Margen inferior */
    margin-left: 40px; /* Margen izquierdo */
    background-color: #069BE7;
}


h1 {
    color: #fff;
    font-size: 24px; /* Tamaño de fuente ajustado */
    margin: 0; /* Elimina el margen predeterminado del h1 */
}